#                                # List Exercise

#                # Task 1: ADD ALL DICTIONARY VALUES       
        * Work with
             toys = {"robort": "$40.0", "car": "$25", "ironman": "$12"}
             
        * Desired Output:
               77  
        * Hints?
          1.Use the value() method
          2.Use List.
          3.Use the built-in python function, eval() to convert string to number.
          4.Use list slicing with the appropriate index to grab the numbers. Add them together.
          5.Use the int type.

In [121]:
toys = {"robort": "$40.0", "car": "$25", "ironman": "$12"}

In [141]:
toys.values()

dict_values(['$40.0', '$25', '$12'])

In [183]:
num=eval(list(toys.values())[0][1:])+eval(list(toys.values())[1][1:])+eval(list(toys.values())[2][1:])

In [185]:
int(num)

77

#                TASK 2: USE COMPARISON OPERATORS IN A LIST
        WORK WITH
           
            !=
            ==
            in
            
        DESIRED OUTPUT:
                [True, True, False, True, False]
        HINTS?
            1. Use only the three of the operators shown above.

In [2]:
 questions = [10!=4, 50==50, 90==10, "c" in ("a", "b", "c"), 100!= 100]

In [3]:
questions

[True, True, False, True, False]

#               TASK 3: LEN KEY VALUES WITH COMPARISON OPERATORS
            
           * WORK WITH
                films = {"k1": "blade runner 2049", "k2": "matrix", "k3": "terminator"}
                <
                >
                len()
                
            * DESIRED OUTPUT:
                True
                
            * HINTS?
                1. Use only the two operators shown above.
                2. Use the built-in function, len().
                3. Use the operators in the same order as the dictionary keys.

In [4]:
films = {"k1": "blade runner 2049", "k2": "matrix", "k3": "terminator"}

In [13]:
len(films["k1"]) > len(films["k2"]) < len(films["k3"])

True

#                  TASK 4: UPDATE DICTIONARY
        
        * WORK WITH:
                
                life_stages = {0: "embryo", 1: "fetus", 2:"baby", 3:"infant",4: "teen"}
       
        * DESIRED OUTPUT:
                {0: 'embryo', 1: 'fetus', 2: 'baby', 3: 'infant', 4: 'teen', 5: 'adult', 6: 'big kid!'}

        * HINTS?
            1. Create a new dictionary called midlife, with keys 5 and 6, and key values "adult" and "big kid!".
            2. Add midlife dictionary to life_stages using one of the dictionary methods.

In [16]:
life_stages= {0: "embryo", 1: "fetus", 2:"baby", 3:"infant",4: "teen"}
life_stages

{0: 'embryo', 1: 'fetus', 2: 'baby', 3: 'infant', 4: 'teen'}

In [17]:
midlife={5: "adult", 6: "big kid!"}
midlife

{5: 'adult', 6: 'big kid!'}

In [18]:
life_stages.update(midlife)

In [19]:
life_stages

{0: 'embryo',
 1: 'fetus',
 2: 'baby',
 3: 'infant',
 4: 'teen',
 5: 'adult',
 6: 'big kid!'}

#                 TASK 5: ADD ALL VALUES FROM LIST

            * WORK WITH:
            
                    nest1 = [(1,2,3), {"k1": [8, 1, 300, 2, 77], "k2": [10,20,30]}, ["a","500", "c"]]
                    
                    sorted()
                    eval()
            
            * DESIRED OUTPUT:
                       833.0
            
            * HINTS?
                1. Add 3, 300, 30 and 500 together from each of the nested tuples, dictionaries or lists.
                2. Use only the two built-in python functions shown above.
                3. Use the Python built-in function, sorted for "k1".
                4. For the nested dictionary,"k1", index only by -1, not 2.
                5. Use the float.

In [20]:
nest1=[(1,2,3), {"k1": [8, 1, 300, 2, 77], "k2": [10, 20, 30]}, ["a", "500","c"]]

In [22]:
nest1

[(1, 2, 3), {'k1': [8, 1, 300, 2, 77], 'k2': [10, 20, 30]}, ['a', '500', 'c']]

In [84]:
float(nest1[0][2] + k1  + nest1[1]["k2"][2] + k2 )

833.0

In [85]:
k1=sorted(nest1[1]["k1"])[-1]
k2=eval(nest1[2][1])

#           TASK 6: ADD ALL LIST VALUES INTO A STRING
   
         * WORK WITH:
         
              prices = ["a", "b", "9", "c", "d", "FOUR", "e", "f", "2.5"]
              
              sentence = """The bill for the {}#!/,?? {}#!/ ??and drink came to {}??"""
         
         * DESIRED OUTPUT:
         
            prices = ["9", "FOUR", "2.5"]
           'The bill for the pizza, chips and drink came to $15.5'
           
         * HINTS?
             1. Use the format function.
             2. Use slicing and stride
             3. Also use eval, len and str.
             4. Add all the string numbers from the prices list.
             5. Use the replace function twice.

In [38]:
prices = ["a", "b", "9", "c", "d", "FOUR", "e", "f", "2.5"]
prices

['a', 'b', '9', 'c', 'd', 'FOUR', 'e', 'f', '2.5']

In [101]:
sentence = """The bill for the {}#!/,?? {}#!/ ??and drink came to {}??"""

In [109]:
price=prices[2::3]
p=eval(price[0])
c=len(price[1])
d=eval(price[2])

In [110]:
sentence.format("pizza","chips","$" + str(p+c+d) ).replace("#!/","").replace("??","")

'The bill for the pizza, chips and drink came to $15.5'

In [113]:
price=str(eval(prices[2::3][0]) + len(prices[2::3][1]) + eval(prices[2::3][2]))
price

'15.5'