#                 BUILT-IN FUNCTION

        * Built-in Python function are always available on command.
        * As of Python 3.6, there are a total of 68 built-in functions.
        * Link to official Doc -
        * 12 Built-In Functions:-
                max()
                min()
                sum()
                round()
                abs()
                print()
                pow()
                sorted()
                eval()
                format()
                any()
                all()

In [3]:
import random as rd
rd.seed(10)

numbers=rd.sample(range(10,100),k=10)
numbers

[83, 14, 64, 71, 11, 36, 69, 72, 45, 93]

In [4]:
max(numbers)

min(numbers)

sum(numbers)

round(2.32654,2)

round(2.12456,4)

abs(-253)

abs(10)

eval("4.5")

eval('10')

pow(10,2)

pow(5,3)

93

In [26]:
numbers

[83, 14, 64, 71, 11, 36, 69, 72, 45, 93]

In [28]:
num=sorted(numbers)
num

[11, 14, 36, 45, 64, 69, 71, 72, 83, 93]

In [35]:
[pow(x,2) for x in num]

[121, 196, 1296, 2025, 4096, 4761, 5041, 5184, 6889, 8649]

In [38]:
sum([i < 40 for i in num])

3

In [39]:
data=["10",8.12345,100,-30,-200]
data

['10', 8.12345, 100, -30, -200]

In [41]:
new_data=eval(data[0]) + int(data[1]) + data[2] + abs(data[3]) + abs(data[4])
new_data

348

In [52]:
"The top tree values {0}, {1}, and {2}. My favourite number is {0}".format(*clear_data)

'The top tree values 200, 100, and 30. My favourite number is 200'

In [51]:
clear_data=sorted(abs(k) for k in [int(i) for i in data])[2:][3::-1]
clear_data

[200, 100, 30]