# FOR LOOPS (Lists, Tuples and Dictionaries)

    * for loops iterate over elements from a sequence (list, tuple or dictionary).
    * Outputs all the elements from the sequence.

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
for i in range(2,12,2):
    print(i)

2
4
6
8
10

In [9]:
for greeting in range(3):
    print("Hello World!!")

Hello World!!
Hello World!!
Hello World!!

In [34]:
cats=["tiger","lion","jaguar","leopard"]
for cat in cats:
    print(cat)

tiger
lion
jaguar
leopard

In [11]:
for num in range(3):
    print(num, num+30, num*2)

0 30 0
1 31 2
2 32 4

In [1]:
nest=[[10,20,30,],[3.5,4.5,5.5],["sword","hammer","shield"]]

In [27]:
for i in range(len(nest)):
    
    print(nest[i])

[10, 20, 30]
[3.5, 4.5, 5.5]
['sword', 'hammer', 'shield']

In [2]:
for i in range(3):
    res=nest[0][i] + nest[1][i]
    
    print(nest[2][i].capitalize() + ": Power level = ", res)

Sword: Power level =  13.5
Hammer: Power level =  24.5
Shield: Power level =  35.5

In [8]:
weapons=[]
for i in range(3):
    
    s=nest[2][i].capitalize() + " : Power Level = " + str(nest[0][i]+nest[1][i])
    
    weapons.append(s)
    
    print( weapons[i])

Sword : Power Level = 13.5
Hammer : Power Level = 24.5
Shield : Power Level = 35.5

In [10]:
for i in range(1,8):
    print("{} + {} = {}".format(i,i,(i+i)))

1 + 1 = 2
2 + 2 = 4
3 + 3 = 6
4 + 4 = 8
5 + 5 = 10
6 + 6 = 12
7 + 7 = 14

In [11]:
for k in range(1,8):
    print(" %d * %d = %d"%(k, k, (k*k)))

 1 * 1 = 1
 2 * 2 = 4
 3 * 3 = 9
 4 * 4 = 16
 5 * 5 = 25
 6 * 6 = 36
 7 * 7 = 49

In [19]:
tup=((10,20,30),("a","b","c"),(200,400,800))
#tuple unpacking !
for x,y,z in tup:
    print(x,y,z)   # x indicate 0 index element in each nested tuple and x,y for 1,2 respectively

10 20 30
a b c
200 400 800

In [20]:
cakes=["chocolate","lemon","carrot","vanilla"]

d1={"k1": tuple(cakes),
    "k2": [10,20,30,40]
   }
d1

{'k1': ('chocolate', 'lemon', 'carrot', 'vanilla'), 'k2': [10, 20, 30, 40]}

In [31]:
for d in d1["k1"]:
    print(d)

chocolate
lemon
carrot
vanilla

In [32]:
for x in d1:
    for y in range(4):
        print(x, " : ",d1[x][y])

k1  :  chocolate
k1  :  lemon
k1  :  carrot
k1  :  vanilla
k2  :  10
k2  :  20
k2  :  30
k2  :  40

In [39]:
cats
endangered=["series","critical","very critical","stable"]

for c in range(4):
    print(cats[c].capitalize(), "\n Level:\n",endangered[c].upper())

Tiger
 Level:
 SERIES
Lion
 Level:
 CRITICAL
Jaguar
 Level:
 VERY CRITICAL
Leopard
 Level:
 STABLE