#                     ZIP AND ENUMERATE
    
    * ZIP :
            zip can combine elements from two or more lists into nested tuples.

    * ENUMERATE
            enumerate can generate an integer number next to each output.
            
            
###                BOTH CAN BE EASILY REPLACED

In [8]:
for c,i in enumerate(range(10,40,5),200):
    print(c,i)

200 10
201 15
202 20
203 25
204 30
205 35

In [9]:
for c,i in enumerate(range(10,40,5)):
    print(c,i)

0 10
1 15
2 20
3 25
4 30
5 35

In [14]:
for i in range(10,60,10):
    print(1990 + i, i)

2000 10
2010 20
2020 30
2030 40
2040 50

In [2]:
tupl1=(23,45,95)
mylist=[10,20,30]
z=list(zip(tupl1,mylist))
z

[(23, 10), (45, 20), (95, 30)]

In [7]:
for m, n in z:
    print(m,n)

23 10
45 20
95 30

In [21]:
l1=[100,200,300]
l2=[40,50,60]
l3=[41,51,61]
l4=zip=(l1,l2,l3)
l4

([100, 200, 300], [40, 50, 60], [41, 51, 61])

In [15]:
for i,j,k in l4:
    print(i,j,k)

100 200 300
40 50 60
41 51 61

In [17]:
 for i,j,k in l4:
    print(i+j+k)

600
150
153

In [3]:
animals=["Lion","tiger","leaperd"]
birds=["parrot","peacock","sparow"]
combo=list(zip(animals,birds))
combo

[('Lion', 'parrot'), ('tiger', 'peacock'), ('leaperd', 'sparow')]

In [23]:
for i,j  in combo:
    print(i +"-"+j)

Lion-parrot
tiger-peacock
leaperd-sparow

In [9]:
for i in combo:
    print(i)

('Lion', 'parrot')
('tiger', 'peacock')
('leaperd', 'sparow')

In [18]:
for i in combo:
     print(i)

('Lion', 'parrot')
('tiger', 'peacock')
('leaperd', 'sparow')

In [58]:
m=['jan','feb','mar','april','may','june']
n=(31,28,31,30,31,30)
mn=list(zip(m,n))
mn

[('jan', 31),
 ('feb', 28),
 ('mar', 31),
 ('april', 30),
 ('may', 31),
 ('june', 30)]

In [71]:
for i in range(6):
    print(m[i], "=", n[i])

jan = 31
feb = 28
mar = 31
april = 30
may = 31
june = 30

In [66]:
for i,j in enumerate(mn):
    print(i,"=",j)

0 = ('jan', 31)
1 = ('feb', 28)
2 = ('mar', 31)
3 = ('april', 30)
4 = ('may', 31)
5 = ('june', 30)

In [57]:
groceries=["apple","chips","banana","bread"]
prices=[5,6,1.2,4.25]
for i in range(4):
    print(groceries[i], "= " ,prices[i])

apple =  5
chips =  6
banana =  1.2
bread =  4.25

In [49]:
zip_shop=list(zip(groceries,prices))
zip_shop
for i,j in zip_shop:
    print(i,"=",j)

apple = 5
chips = 6
banana = 1.2
bread = 4.25

In [74]:
num1=[100,8,20,64]; num2=[12,9,20,45]
zip_num=list(zip(num1,num2))

for i, j in zip_num:
    if i>j:
        print(i)
    elif i<j:
        print(j)
    else:
        print(i,j)

100
9
20 20
64

In [75]:
for i in range(4):
    if num1[i]>num2[i]:
        print(num1[i])
    elif num1[i]<num2[i]:
        print(num2[i])
    else:
        print(num1[i],num2[i])

100
9
20 20
64

In [87]:
num=list(range(10,60,10))
num
value=[2,5]

calc=[]
for i in range(len(num)):
    for j in value:
        s=num[i] *  j
        calc.append(s)
calc
num

[10, 20, 30, 40, 50]

In [90]:
calc

[20, 50, 40, 100, 60, 150, 80, 200, 100, 250]

In [94]:
zip_numval=list(zip(num,value))
zip_numval

[(10, 2), (20, 5)]

In [93]:
import itertools
from itertools import cycle as cy
zip_val=list(zip(num,cy(value)))
zip_val

[(10, 2), (20, 5), (30, 2), (40, 5), (50, 2)]

In [101]:
calc.clear()

In [102]:
for i, j in zip_val:
    s= i * j
    calc.append(s)
calc

[20, 100, 60, 200, 100]

In [8]:
list1=[8,6,5,10]
list2=[5,4]

list_val1=[5]; list_val2=[4]

import itertools 
from itertools import cycle as cy

zip_list=list(zip(list1,cy(list_val1),cy(list_val2)))

zip_list
new_list=[]

for i,j,k in zip_list:
    s= i * j
    t=i * k
    new_list.append(s)
    new_list.append(t)
new_list

[40, 32, 30, 24, 25, 20, 50, 40]

In [10]:
new=new_list[0:7:2]
new

[40, 30, 25, 50]