# Tuples

    * Similar to a list in that it contains a collection of elements in ().
    * Elements in a tuples are immutable.
    * only has two functions index and count.

# Built-in Functions

    * max
    * min
    * sum
    * sorted

In [2]:
tup1=40,20,30,46,52
tup1
type(tup1)

tuple

In [5]:
mytuple=[15,23,21,14]
tup2=tuple(mytuple)
tup2

(15, 23, 21, 14)

In [9]:
tup3=tup1+tup2
tup3

(40, 20, 30, 46, 52, 15, 23, 21, 14)

In [10]:
tupl4='cat','cat','dog','cat','dog',10,10,10,20

In [11]:
tupl4

('cat', 'cat', 'dog', 'cat', 'dog', 10, 10, 10, 20)

In [13]:
tupl4.count('cat')

3

In [15]:
tupl4.count(10)

3

In [17]:
tupl4.count('dog')

2

In [18]:
tup3.index(46)

3

In [19]:
tup3[3]

46

In [21]:
tupl4[2]

'dog'

In [23]:
sum(tup3*3)

783

In [24]:
sum(tup3)

261

In [25]:
max(tup3)

52

In [26]:
min(tup3)

14

In [27]:
tup3

(40, 20, 30, 46, 52, 15, 23, 21, 14)

In [28]:
tuple(sorted(tup3))

(14, 15, 20, 21, 23, 30, 40, 46, 52)

In [33]:
sorted(tup3)

[14, 15, 20, 21, 23, 30, 40, 46, 52]

In [32]:
type(tup3)

tuple

In [34]:
tup3

(40, 20, 30, 46, 52, 15, 23, 21, 14)